<div class="container-s container py-5">
  <h1 style="text-align:center;">Servicios</h1>
  <div class="row-s">
      <% @services.each do |service| %>
        <div card="card-columns">
          <div class="card-s" style="width: 20rem ">
            <%= image_tag("", class:"card-img-top") %>
            <div class="card-body">
              <h5 class="card-title"><%= service.title %></h5>
              <p class="card-content"><%= service.content %></p>
              <p class="card-text"><small class="text-price"> $<%= service.price %></small></p>
               <%= link_to "Reservar", service_path(service), class:"btn-s btn btn-primary-s" %>
            </div>
          </div>
        </div>
      <%end %>
  </div>
</div>