<div class="container-s container py-3 shadow">
<%#   <h1 style="text-align:center;">Servicios</h1> %>
  <h1 class="text-center" style="margin-bottom:5rem">Servicios</h1>
  <% if current_user %>
    <% if current_user.admin %>
      <h6 style="text-align:center;"><%= link_to "Crear Nuevo Servicio", new_service_path%></h6>
    <% end %>
  <% end %>
  <div class="row-s">
      <% @services.each do |service| %>
        <div card="card-columns">
          <div class="card-s" style="width: 20rem ">
          <% if current_user %>
            <% if current_user.admin %>
              <div class="d-flex justify-content-end">
                <%= link_to "X",
                    service_path(service),
                    method: :delete,
                    data: { confirm: "¿Estás seguro?" }
                %>
              </div>
            <% end %>
          <% end %>
            <%= cl_image_tag service.photo.key, height: 300, width: 400, crop: :fill, class:"card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= service.title %></h5>
              <p class="card-content"><%= service.content %></p>
              <p class="card-text"><small class="text-price"> $<%= service.price %></small></p>
               <%= link_to "Reservar", service_path(service), class:"btn-s btn btn-primary" %>
            </div>
          </div>
        </div>
      <%end %>
  </div>
</div>