<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-10 offset-lg-1">
      <div class="bg-white rounded p-3 shadow">
        <h1 style="text-align:center;">Show</h1>
          <%= @service.title %>
          <%= @service.content %>
          <%= @service.price %>
        </div>
        <%= link_to "volver a la lista", services_path %> 
        <%= simple_form_for [@service, @booking] do |f| %>
            <%= f.input :start_date %>
            <%= f.submit class: "btn btn-light"%>
        <% end %>
      </div>
    </div>
  </div>
</div>


