<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-10 offset-lg-1">
      <div class="bg-white rounded p-3 shadow">
        <h1 style="text-align:center;">Post</h1>
          <%= simple_form_for [@blog_post] do |f| %>
            <%= f.input :name, prompt: "Nombre", class:"", placeholder: "Ingrese su nombre" %>
            <%= f.input :content,prompt: "Mensaje", class:"", placeholder: "Ingrese su mensaje"%>
            <div class="d-flex bd-highlight mt-5">
            <%= f.submit class:"btn btn-primary mx-1 p-2 bd-highlight"%>
            <%= link_to "Volver",blog_posts_path, class:"ml-auto p-2 bd-highlight" %>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>