<div class="container">
  <div class="row">
     <div class="col-12 col-md-10 offset-lg-1">
       <div class="bg white rounded p-5 shadow">
            <h1 class="text-center" style="margin-bottom:5rem">Río Arriba Blog</h1>
            <div class="d-flex justify-content-start">
              <%= link_to 'Crea tu Post', new_blog_post_path %>
            </div>
            <% @blog_posts.each do |single| %>
            <div class="card mb-5">
              <div class="card-header">
                <%= single.name %>
              </div>
              <div class="card-body">
                <p class="card-text"><%= single.content %></p>
                <% if current_user %>
                  <% if current_user.admin %>
                  <div class="d-flex justify-content-end">
                    <%= link_to "Edit", edit_blog_post_path(single.id), class:"btn btn-primary mx-1" %>
                    <%= link_to "Delete",
                                blog_post_path(single.id),
                                method: :delete,
                                data: { confirm: "Are you sure?" },
                                class:"btn btn-primary mx-1"
                                %>
                  </div>
                  <% end %>
                <% end %>
              </div>
            </div>  
            <% end %>
        </div>
      </div>
  </div>
</div> 
