<div class="container py-5">
  <div class="card">
    <div class="bg-white rounded p-3 shadow">
      <div class="card-header">
        <%=@blog_post.name%>
        </div>
          <div class="card-body">
            <p class="card-text"><%=@blog_post.content%></p>
            <div class="d-flex bd-highlight mt-5">
              <%= link_to "Editar", edit_blog_post_path(@blog_post), class:"btn btn-primary mx-1 p-2 bd-highlight", style:"width:10%" %>
              <%= link_to "Eliminar",
                                blog_post_path(@blog_post),
                                method: :delete,
                                data: { confirm: "¿Estás seguro?" },
                                class:"btn btn-primary mx-1 p-2 bd-highlight"
                                %>

              <%= link_to "Volver",blog_posts_path, class:"ml-auto p-2 bd-highlight" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>